@import "tailwindcss";

@theme {
  --color-custom-purple: #7b4b58;
  --color-custom-grey: #868786;
  --color-light-grey: #e7e7e3;

  --font-libre: "Libre Baskerville", serif;
  --font-lora: "Lora", serif;
}