@import "tailwindcss";

@theme {
  --color-custom-purple: #7b4b58;
  --color-custom-grey: #C7C5CA;
  --color-light-grey: #e7e7e3;
  --color-light-rose: #fce7e0;

  --font-libre: "Libre Baskerville", serif;
  --font-lora: "Lora", serif;
}